@page
@model HospiEnCasa.App.Presentacion.Pages.Pacientes.IndexModel
@{
}
<h1>Lista de Pacientes</h1>

<button class="btn btn-info">Agregar Paciente</button> <br>

<table class="table table-success table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col"> Nombre </th>
            <th scope="col"> Apellidos </th>
            <th scope="col"> NumeroTelefono </th>
            <th scope="col"> Genero </th>
            <th scope="col"> Ciudad </th>
        </tr>
    </thead>
   @foreach (var p in Model.Paciente)
   {
       <tr>
           <td>@p.Nombre</td>
           <td>@p.Apellidos</td>
           <td>@p.NumeroTelefono</td>
           <td>@p.Genero</td>
           <td>@p.Ciudad</td>
       </tr>
   }
</table>