@page
@model HospiEnCasa.App.Presentacion.Pages.Pacientes.IndexModel
@{
}
<h1>Lista de Pacientes</h1>

<div class="table-responsive">
    <table class="table table-success table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th scope="col"> Nombre </th>
                <th scope="col"> Apellidos </th>
                <th scope="col"> Cedula </th>
                <th scope="col"> Ciudad </th>
                <th scope="col"> Genero </th>
                <th scope="col"> Mas</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Registro</th>
                <th scope="col">Elegir</th>
                <th scope="col">Elegir</th>
                <th scope="col">Elegir</th>
            </tr>
        </thead>
        @foreach (var p in Model.Paciente)
        {
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Apellido</td>
                <td>@p.Cedula</td>
                <td>@p.Ciudad</td>
                <td>@p.Genero</td>
                <td>
                    <a class="btn btn-info table-btn m-0" asp-page="./ActualizarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning table-btn m-0" asp-page="./ActualizarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn m-0" asp-page="./EliminarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-user-minus"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-success table-btn m-0" asp-page="./Signos" asp-route-Id=@p.Id>
                        <i class="fas fa-file-medical-alt"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-info table-btn m-0" asp-page="./EliminarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-user-friends"> Coach</i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-success table-btn m-0" asp-page="./EliminarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-user-md"> Nutricionista</i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-info table-btn m-0" asp-page="./EliminarPaciente" asp-route-Id=@p.Id>
                        <i class="fas fa-file-medical"> Antecedentes</i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<button class="btn btn-info">Agregar Paciente</button> <br>